html, body {
    margin: 0; padding: 0; height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--colore-sfondo-pagina);
    overflow: hidden; /* Per evitare scrollbar quando la chat è fuori */
}
body { display: flex; flex-direction: row; }

#contenitore-principale {
    flex: 1; height: 100vh;
    overflow-y: auto; padding: 30px; 
    box-sizing: border-box; text-align: center;
    position: relative; 
    transition: padding-right 0.3s ease-out; /* Transizione per il padding */
}

/* Classe per "spingere" il contenuto */
#contenitore-principale.chat-attiva {
    padding-right: 330px; /* Larghezza chat (280) + margin-right chat (20) + padding extra (30) */
}